/* page layout styles */
*{
    margin:0;
    padding:0;
}
body{
	background:#CDC5BF;
}
.container {
    margin: 0px auto;
    overflow: hidden;
    position: relative;
    width: 800px;
}
#scene {
    position:relative;
}
canvas{
 border:4px inset white;
}